DB_HOST=localhost
DB_PORT=3306
DB_NAME=mublcnhw_mswd
DB_USER=rmublcnhw_mswd
DB_PASSWORD=danielbacaran
SESSION_SECRET=403bf0e06ff5a6c7b63793b3ea15582baa640905d31ea2696d6cadc2f8354eac
DB_PORT=3306
NODE_ENV=production
