DB_HOST=localhost
DB_PORT=3306
DB_NAME=mublcnhw_mswd
DB_USER=rmublcnhw_mswd
DB_PASSWORD=danielbacaran
SESSION_SECRET=b22cb35c8b7079f85cb61003fdd171a9a0ada030d294998dcb101282b3301a82
DB_PORT=3306
NODE_ENV=production
